<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find my_robot_cell_description)/urdf/chassis_macro.xacro"/>
  
  <xacro:macro name="my_robot_cell" params="
    parent
    *origin
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    sim_ignition:=false
    use_fake_hardware:=false
    tf_prefix:='ur10e_'
    generate_linear_axis_control_tag:=true
    ">
    <!-- no prefix for real robot, robot1_ for sim -->
    <!-- generate_linear_axis_control_tag: lineer eksen ros2_control bloğunun
         üretilip üretilmeyeceğini belirler. İki ayrı controller_manager
         kullanıldığında lineer eksen UR CM'ine aittir; Kawasaki CM'i için
         bu URDF üretilirken false geçilerek tekrar tanımlanması engellenir. -->
    <material name="silver">
      <color rgba="0.7 0.7 0.7 1.0"/>
    </material>

    <material name="white">
      <color rgba="1 1 1 1"/>
    </material>
    
    <link name="${tf_prefix}table">
      <inertial>
        <origin rpy="0 0 0" xyz="-0.20776362121155553 1.2317846395347034 0.4781386610142531"/>
        <mass value="54.501673015936554"/>
        <inertia ixx="28.453985" ixy="-0.075126" ixz="-0.006467" iyy="1.801962" iyz="0.004704" izz="27.627414"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/base_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/base_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- Chassis assembly - tüm PART1-PART44 parçalarını içerir -->
    <!-- <xacro:chassis_assembly tf_prefix="${tf_prefix}" parent="${parent}">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:chassis_assembly> -->

    <!-- <link name="${tf_prefix}chassis">
      <inertial>
        <origin xyz="-1.124731 1.232845 1.108302" rpy="0 0 0"/>
        <mass value="120.90442642947052"/>
        <inertia
            ixx="1.363e6"
            ixy="-903.3"
            ixz="1.847e4"
            iyy="8.130e5"
            iyz="-385.3"
            izz="1.039e6"/>
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/chassis.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="chassis_material">
          <color rgba="0.7 0.7 0.7 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/chassis.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link> -->

    <!-- Platform - Bodies(1): mass=205.0 kg, inertia CAD'dan alındı -->
    <link name="${tf_prefix}platform">
      <inertial>
        <origin xyz="-1.101122 1.387607 0.574201" rpy="0 0 0"/>
        <mass value="205.0"/>
        <inertia ixx="267.2" ixy="-0.03267" ixz="1.178"
                 iyy="96.55"  iyz="0.1364"
                 izz="194.6"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/platform.stl" scale="1 1 1"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/platform.stl" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>

    <!-- Door - araba kapısı (~18 kg, 1.1m x 0.9m x 0.05m çelik) -->
    <link name="${tf_prefix}windowlessdoor"> 
      <inertial>
        <origin xyz="-0.864306 0.816343 0.934094" rpy="0 0 0"/>
        <mass value="18.0"/>
        <inertia ixx="497.9" ixy="1.366" ixz="78.57"
                 iyy="320.6" iyz="0.8697"
                 izz="218.4"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/windowlessdoor.stl" scale="1 1 1"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/windowlessdoor.stl" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>

    <!-- Door1 - araba kapısı (~18 kg, 1.1m x 0.9m x 0.05m çelik) -->
    <link name="${tf_prefix}windowdoor">
      <inertial>
        <origin xyz="-0.844038 1.994389 0.74421" rpy="0 0 0"/>
        <mass value="18.0"/>
        <inertia ixx="1.22" ixy="0.0" ixz="0.0"
                 iyy="1.84" iyz="0.0"
                 izz="3.03"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/windowdoor.stl" scale="1 1 1"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/windowdoor.stl" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>


    <link name="${tf_prefix}robot_mount">
      <inertial>
        <origin rpy="0 0 0" xyz="0.05002314930219927 0.07600473192983241 0.04086271832820465"/>
        <mass value="14.04925448455695"/>
        <inertia ixx="0.061984" ixy="-0.003503" ixz="0.001551" iyy="0.069314" iyz="0.000564" izz="0.125682"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0.158 -0.115 -0.58635"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/linear_axis_moving_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0.158 -0.115 -0.58635"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/linear_axis_moving_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}alumunium_table">
      <inertial>
        <origin rpy="0 0 0" xyz="0.713931 2.546776 0.955293"/>
        <mass value="82.723802"/>
        <inertia ixx="21.46" ixy="-0.6779" ixz="-0.1229" iyy="14.70" iyz="-2.239" izz="16.12"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/alumuniumtable.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/alumuniumtable.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}screwdriver">
      <inertial>
        <origin rpy="0 0 0" xyz="0.698999 2.916019 1.646605"/>
        <mass value="2.400984"/>
        <inertia ixx="0.004047" ixy="-4.087e-08" ixz="-1.236e-07" iyy="0.004295" iyz="2.148e-05" izz="0.001060"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/screwdriver.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <!-- Collision geometry devre dışı: Screwdriver Planning Scene üzerinden
           attach/detach ile yönetilecek. Gripper kapandığında collision olmasın diye kaldırıldı. -->
      <!-- <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/screwdriver.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision> -->
    </link>

    <link name="${tf_prefix}screw_feeder">
      <inertial>
        <origin rpy="0 0 0" xyz="0.47973 2.996281 0.677038"/>
        <mass value="64.903172"/>
        <inertia ixx="5.385" ixy="3.3487e-05" ixz="-0.03657" iyy="5.631" iyz="0.003393" izz="0.4777"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/screw_feeder.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/screw_feeder.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}conveyor_belt">
      <inertial>
        <origin rpy="0 0 0" xyz="0.651237 0.086681 0.615798"/>
        <mass value="26.689341"/>
        <inertia ixx="3.942" ixy="-0.008312" ixz="-0.009881" iyy="2.162" iyz="0.06187" izz="2.363"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/conveyorbelt.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/conveyorbelt.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}stackable_bin">
      <inertial>
        <origin xyz="0.81318 1.30332 0.489851" rpy="0 0 0"/>
        <mass value="15.033826"/>
        <inertia 
          ixx="2.508"
          ixy="8.586e-9"
          ixz="-0.09262"
          iyy="1.966"
          iyz="1.39871e-7"
          izz="1.231"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/stackable_bin.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
    
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file:////home/cem/colcon_ws/src/Universal_Robots_ROS2_Description/meshes/ur10e/collision/stackable_bin.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- Joint tanımları -->
    <joint name="${tf_prefix}table_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${tf_prefix}table" />
    </joint>

    <!-- Linear axis joint - bu joint'in tam tanımı burada olmalı -->
    <joint name="${tf_prefix}base_to_robot_mount" type="prismatic">
      <parent link="${tf_prefix}table"/>
      <child link="${tf_prefix}robot_mount"/>
      <origin xyz="-0.158 0.115 0.58635" rpy="0 0 0" />
      <axis xyz="0.0 1.0 0.0"/>
      <limit effort="1000" lower="0.05" upper="1.95" velocity="1.25"/>
      <dynamics damping="100.0" friction="50.0"/>
    </joint>

    <!-- <joint name="${tf_prefix}base_to_chassis" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}chassis"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint> -->

    <joint name="${tf_prefix}base_to_platform" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}platform"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${tf_prefix}platform_to_windowlessdoor" type="fixed">
      <parent link="${tf_prefix}platform"/>
      <child link="${tf_prefix}windowlessdoor"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${tf_prefix}platform_to_windowdoor" type="fixed">
      <parent link="${tf_prefix}platform"/>
      <child link="${tf_prefix}windowdoor"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${tf_prefix}base_to_alumuniumtable" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}alumunium_table"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${tf_prefix}base_to_screwdriver" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}screwdriver"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${tf_prefix}base_to_screw_feeder" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}screw_feeder"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${tf_prefix}base_to_conveyorbelt" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}conveyor_belt"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${tf_prefix}bin_fixed" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}stackable_bin"/>
      <origin xyz="1.028923 1.685202 0.0" rpy="0 0 1.5707963"/>
    </joint>

    <xacro:if value="${generate_linear_axis_control_tag}">
    <ros2_control name="LinearAxisHardwareInterface" type="system">
      <xacro:if value="$(arg use_fake_hardware)">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
          <param name="state_following_offset">0.0</param>
          <param name="calculate_dynamics">true</param>
          <param name="state_update_frequency">100.0</param>
        </hardware>
      </xacro:if>
      <xacro:unless value="$(arg use_fake_hardware)">
        <hardware>
          <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
          <param name="joint_commands_topic">/linear_axis/target_position_cmd</param>
          <!-- MUST NOT be /joint_states. The joint_state_broadcaster publishes this
               joint's state interface back onto /joint_states at ~400 Hz, so reading
               state from there makes TopicBasedSystem consume its OWN output: the
               echo outnumbers the adapter's real measurement 5:1 and the state stays
               latched at initial_value (1.0 m), which is exactly the 0.500001 m
               position error the trajectory controller aborted on. The adapter
               publishes the measured rail position here instead, and the broadcaster
               still forwards the (now correct) state to /joint_states for everyone
               else. -->
          <param name="joint_states_topic">/linear_axis/joint_states</param>
          <param name="sum_wrapped_joint_states">true</param>
        </hardware>
      </xacro:unless>
      
      <joint name="ur10e_base_to_robot_mount">
        <command_interface name="position"/>
        <command_interface name="velocity">
          <param name="min">-1.25</param>
          <param name="max">1.25</param>
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">1.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>
    </xacro:if>

    <transmission name="${tf_prefix}linear_axis_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${tf_prefix}base_to_robot_mount">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${tf_prefix}linear_axis_motor">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>


    <!--This will create the specific robot. Set generate_ros2_control_tag false if working with real robot, true for sim-->
    <xacro:ur_robot
      name="${tf_prefix}${ur_type}"
      tf_prefix="${ur_type}_"
      parent="${tf_prefix}robot_mount"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      generate_ros2_control_tag="false" 
      sim_ignition="${sim_ignition}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

    <xacro:if value="${sim_ignition}">
      <gazebo>
        <plugin filename="libgz-sim-joint-state-publisher-system.so" name="gz::sim::systems::JointStatePublisher">
          <topic>/sim_joint_states</topic>
        </plugin>
      </gazebo>
    </xacro:if>


  </xacro:macro>

  

</robot>