<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ota_ir" params="base_link link_name xyz_ir rpy_ir">

    <link name="${link_name}_link">

      <!-- Inertial -->
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001666" iyy="0.001666" izz="0.001666"
                 ixy="0" ixz="0" iyz="0"/>
      </inertial>

      <!-- Visual -->
      <visual>
        <origin xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mobile_manipulator_description/meshes/ota/FotoelektrikSensor.stl"
                scale="0.0015 0.0015 0.0015"/>
        </geometry>

        <!-- PBR material (Ignition compatible) -->
        <material name="DefaultWhite">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>

      <!-- Collision -->
      <collision>
        <origin xyz="0 0 0"/>
        <geometry>
          <box size="0.01 0.01 0.01"/>
        </geometry>
      </collision>

      <!-- IGNITION RAY SENSOR -->
      <sensor name="${link_name}_ray" type="ray">
        <update_rate>4</update_rate>

        <ray>
          <scan>
            <horizontal>
              <samples>320</samples>
              <resolution>1</resolution>
              <min_angle>-0.001</min_angle>
              <max_angle>0.001</max_angle>
            </horizontal>
          </scan>

          <range>
            <min>0.2</min>
            <max>8.0</max>
            <resolution>0.01</resolution>
          </range>
        </ray>

        <!-- Topic Ignition → ROS2 bridge -->
        <topic>${link_name}</topic>

        <always_on>1</always_on>
        <visualize>true</visualize>
      </sensor>

    </link>

    <joint name="${link_name}_joint" type="fixed">
      <origin xyz="${xyz_ir}" rpy="${rpy_ir}"/>
      <parent link="${base_link}"/>
      <child link="${link_name}_link"/>
    </joint>

  </xacro:macro>

</robot>
